@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; 
    min-height: 100vh;
}

.header-container {
    height: 100vh; 
    width: 100vw;
    
    background-image: url('src/fundo_lavanda.png'); 
    background-size: cover; 
    background-position: center; 
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    
    color: #faf1e1; 
    text-align: center;
}

.nomes-noivos {
    font-size: 8vw; 
    
    font-family: "Great Vibes", cursive;
    font-weight: normal;

    margin-top: 50vh; 
    margin-bottom: 0.5rem;
    
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.data {
    font-size: 1.3vw; 
    
    font-family: "Playfair Display", serif;
    letter-spacing: 0.1rem; 
    margin-bottom: 25px; 
}

.button-clickhere {
    text-decoration: none;
    color: #faf1e1; 
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    
    border: 1px solid #faf1e1;
    padding: 10px 22px; 
    display: inline-block; 
    
    transition: background-color 0.3s, color 0.3s;
}

.button-clickhere:hover {
    background-color: rgba(255, 255, 255, 0.3); 
    border-color: #FFFFFF; 
    color: #ffffff;
}